@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#330a33]/95 text-white;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* background-color: #330a33; */
    /* color: "white"; */
    /* background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%); */
    /* background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%); */
    /* background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%); */
  }
}

@layer components {
  .image-box {
    box-shadow: 2rem 2rem 1rem rgba(0, 0, 0, 0.8);
  }
}
